/* style.css 파일에 다른 css 파일을 import하기 css 코드를 여러 파일로 분할했다가 다시 합치는 것. */
/* html에 link를 여러줄 만드는 것보다 css를 이용해 파일 import하는게 나음 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
/* 브라우저가 디폴트로 html에 적용시키는 스타일 없애주는 reset.css파일 추가 */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/*Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

/* style.css 파일에는 font-family나 backgroung-color같이
모든 스크린에 적용될 수 있는 스타일을 쓰는게 좋음 */
body {
  color: #2e363e;
  font-family: "Pretendard", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
