.recommended-friends {
  margin: 25px 0px;
  /* border로부터 안쪽에 있는 영역이 padding */
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 16px;
  font-weight: 300;
  color: var(--grey);
}

.recommended-friends span {
  margin: 100px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: var(--grey);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post___title {
  font-weight: 500;
  margin-bottom: 7px;
}

.open-post___hashtags {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

/* 코드 상에 또 다른 divider가 있을 수 있기 때문에 
open-post__members안에 있는 divider에만 적용해주기 */
.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--grey);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

/* open-post__heart-count의 어느 부분에 마우스를 갖다대도 
icon에 호버했을 때만 애니메이션이 적용되게 */
.open-post__heart-count:hover i {
  /* animation이 불안정할 때 will-change를 사용하면 그래픽카드를 이용해
  브라우저에서 애니메이션을 가속화하도록 도와줌 */
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
