.status-bar {
  display: flex;
  /* justify-content 대신 컨테이너 하나를 중심에 놓는 CSS hack */
  /* justify-content: space-between;을 했을 때  컨테이너별로 다른 width를 가지고 있기 때문에 화면 중심에 와야할 요소가 중심에 오지 못함 */
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__column {
  width: 33%;
}
/*No service와 icon 사이의 간격 주기*/
.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
