.user-component {
  justify-content: space-between;
  padding-bottom: 35px;
}
/* user-component에는 2개의 column이 있고 그 둘에 적용해주는 것,
user-component__column:first-child에는 사진과 text가 있고 그 둘에 적용 */
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
}

.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 18;
}

/** user-component__avatar의 modifier */
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 300;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
